body {
	background-color: powderblue;
    background-image: url("../img/MLS_original.png");
    background-attachment: fixed;
    font-family: 'Acme', sans-serif; 
    font-size: 1.5em;
}

.tc-jumbotron {
/*    height: 60em;   */
    background-color: blue;
    color: white;
}

.tc-text-center {
	margin-top: -20px;
} 

.qform {
    font-size: 1.1em;
    text-align: center;
}

.qform h2 {
    color: white;
}

#timer {
    text-align: right;
    font-size: 1.2em;
}

#buttons, #endbutton {               
  text-align: center;    
  color: black;          
}                        

button {
  margin-top: 50px;
  margin-bottom: 30px;
  
  width: 100px;

  /* Box-model */
  height: 50px;
}
